body{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
	display: flex;
	padding: 30px;
	align-items: center;
}
.Image{
	flex: 1;
}
.Info{
	flex: 2;
}

.nav-row{
	display: flex;
	align-items: center;
	justify-content: center;
}
a {
	margin: 20px;
	font-size: 16pt;
	text-decoration: none;
	font-weight: bolder;
	color: red;
}
#p-desc{
	text-align: justify;
	line-height: 2;
}
#p-name{
	color: red;
}