*{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: linear-gradient(to bottom right, blue, white);
} 

div.container {
	min-width: 380px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 20px;
}

h3{
	color: blue;
}
label{
	font-weight: bolder;
	width: 120px;
}

label#Password{
	width: 120px;
	padding-left: 40px;
}

.frmLogin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:azure;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 17px 9px 15px 0px rgba(0, 0, 0, 0.20);
	height: auto;
}

.frmTxt{
	margin-top: 10px;
	margin-bottom: 10px;
}

.buttons{
	margin-left:20px;
	margin-right: 20px;
}

.Button{
	margin-top: 10px;
	width: 100px;
	padding: 5px;
	background-color: rgb(0, 26, 255);
	border: 1px solid rgba(128, 128, 128, 0.39);
	color: whitesmoke;
	border-radius: 10px;
}
.Button:hover{
	background-color: rgb(0, 16, 156);
}
.Button:active{
	border: 2px solid rgb(183, 183, 186);
}

.control{
	padding: 2px;
	background-color: white;
	border: none;
	border-bottom: 2px solid black;
}

.control:focus{
	outline: none;
}

#checkbox{
	display: flex;
	flex-direction: column;
}
