body{
	background-color: rgb(242, 242, 242);
	margin: 0;
}

div.Header{
	display: flex;
	background-color: #66b3ff;
	height: 100px;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 20px 20px;
}
h1#Name{
	text-align: center;	
	color: white;
	padding: 10px;
}

div.Content{
	margin: 10px;
}

div.Content1 {
	display: flex;
	border: 2px solid #0066cc;
}
div.Picture{
	width: 200px;
	height: 242px;
	border-right: 1px dotted black;
	border-radius: 0 0 20px 0;
}

div.Picture img{
	border-radius: 20px 0 20px 0;
}

div.Intro{
	flex: 1;
	padding: 10px;
}

div.Table1 {
	margin: 25px;
}
table,th,tr,td  {
	border: 2px solid #0066cc;
	border-collapse: collapse;
	padding: 5px;
	background-color: #cce6ff;
}

div.Content4 {}

h3{
	color: #0080ff;
}

.heading {
	color: #0066cc;
	text-shadow: 3px 2px #d3d3d3;
}

div.Footer {
	background-color: #66b3ff;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px 20px 0 0;
}
.Footer h2 {
	color: white;
	font-size: 20pt;
}

.Footer span{
	color: white;
	font-weight: bold;
}

a:link{
	color: blue;
	text-decoration: none;
}
a:visited {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: green;
	text-decoration: underline;
}
a:active{
	font-size: 13pt;
	color: red;
	text-decoration: none;
}

